.about {
  @extend %section;

  &__title {
    @include reset;
    @extend %title;
  }
}
.img-set {
  display: flex;

  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
.img-set__thumb {
  position: relative;
  height: 294px;
}

.img-set__desc {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0 auto;
  bottom: 0;
  padding: 27px 82px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}
