.clients {
  @extend %section;
  &__title {
    @include reset;
    @extend %title;
    margin-bottom: 50px;
  }
}
.icon-box {
  @extend %list;
  display: flex;

  &__item:not(:first-child) {
    margin-left: 30px;
  }
}

.icon-box__icon {
  fill: currentColor;
}
.icon-box__link {
  transition: color 250ms $cubic;

  @include flex-center;
  width: 170px;
  padding-top: 16px;
  padding-bottom: 16px;

  border: 1.5px solid #afb1b8;
  border-radius: 4px;
  color: $social-link-color;
  &:hover,
  :focus {
    border: 1.5px solid $accent;
    color: $accent;
  }
}
