.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-color: $footer-bgc;
}
.hero__title {
  max-width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;
}
.hero__btn {
  @extend %btn;
  transition: color 250ms $cubic, background-color 250ms $cubic;
  &:hover,
  :focus {
    background-color: $team-bgc;
    color: $second-text-color;
  }
}
