.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bgc;
}
.container-footer {
  display: flex;
  align-items: baseline;
}

.contacts-block {
  margin-right: 70px;
}
.adress {
  &__text {
    margin-bottom: 9px;
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $white;
  }
  &__link {
    display: block;
    margin-bottom: 9px;
    transition: color 250ms $cubic;
    font-weight: 400;
    line-height: calc(24 / 14);
    text-decoration: none;
    font-style: normal;
    color: $mail-text;
    &:hover,
    :focus {
      color: $accent;
    }
  }
}

.join-block {
  margin-right: 93px;
  &__title {
    @include reset;

    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;
  }
}
.social-site--cleanmargin {
  margin-left: 0;
  margin-right: 0;
}
.social-site__link--graybcg {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
}

.subcribe-block__title {
  @include reset;

  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}
.subscribe-form__email {
  width: 358px;
  height: 51px;
  padding: 16px 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-bgc;
  &__email:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.send-btn {
  position: relative;
  @extend %btn;
  display: inline;
  margin-top: 0;

  transition: box-shadow 250ms $cubic, border 250ms $cubic;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
  &:hover,
  :focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__text {
    padding-left: 29px;
    padding-right: 62px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 148px;
    right: 28px;
    transform: translateY(-50%);
  }
}
