/* Шапка и навигация */

.page-header {
  min-height: 80px;
  background-color: $white;
  border-bottom: 1px solid $header-bgc;
}

.container--page-header {
  @include flex-center;
}
.navigation {
  @extend %list;
  display: flex;
  margin-left: 93px;
}
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: calc(16 / 14);
  text-decoration: none;
  color: $second-text-color;
  transition: color 250ms $cubic;
  &:hover,
  :focus {
    color: $accent;
  }
}
.navigation__link--current {
  position: relative;
  color: $accent;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: $accent;
    border-radius: 2px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  @include flex-center;
  margin-left: auto;

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover {
      fill: $accent;
    }
  }
  &__link {
    transition: color 250ms $cubic;
    @include flex-center;
    font-weight: 500;
    line-height: calc(16 / 14);
    text-decoration: none;
    color: $main-text-color;
    &:hover,
    :focus {
      color: $accent;
    }
  }
  &__link--right-indent {
    margin-right: 50px;
  }
}
