body {
  font-family: $main-font;
  font-size: 14px;
  color: $main-text-color;
  letter-spacing: 0.02em;
  background-color: $white;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
